@import url(../menu.css);
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
    transition: 4s;
}
a{
    text-decoration: none;
    transition: 0.8s;
}
li{
    list-style-type: none;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    @media (max-width: 1100px){
        width: 1000px;
        margin: 0 auto;
    }
    @media (max-width: 1000px){
        width: 900px;
        margin: 0 auto;
    }

    @media (max-width: 900px){
        width: 800px;
        margin: 0 auto;
    }
    @media (max-width: 800px){
        width: 700px;
        margin: 0 auto;
    }
    @media (max-width: 700px){
        width: 600px;
        margin: 0 auto;
    }
    @media (max-width: 600px){
        width: 500px;
        margin: 0 auto;
    }
    @media (max-width: 500px){
        width: 450px;
        margin: 0 auto;
    }
    @media (max-width: 450px){
        width: 400px;
        margin: 0 auto;
    }
    @media (max-width: 400px){
        width: 350px;
        margin: 0 auto;
    }
    @media (max-width: 350px){
        width: 320px;
        margin: 0 auto;
    }
    @media (max-width: 330px){
        width: 300px;
        margin: 0 auto;
    }
}
header{
    background-image: url('../../img/header.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    @media (max-width: 1000px){
        height: 700px;
    }
    .header_nav{
        display: flex;
        justify-content: space-between;
        @media (max-width: 600px){
            display: flex;
            justify-content: space-between;
        }
        .header_logo{
            padding-top: 30px;
            @media (max-width: 600px){
                order: 2;
                padding: 10px 5px 0 0;
            }
        }
        .header_menu{
            padding: 45px 10px 0 0;
            @media (max-width: 600px){
                order: 1;
            }
            nav{
                @media (max-width: 600px){
                    display: none;
                }
                ul{
                    display: flex;
                    li{
                        margin-left: 40px;
                        @media (max-width: 920px){
                            margin-left: 20px;
                        }
                        @media (max-width: 800px){
                            margin-left: 10px;
                        }
                        a{
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 24px;
                            color: #FFFFFF;
                            @media (max-width: 820px){
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
            .menu-wrap{
                display: none;
                @media (max-width: 600px){
                    display: block;
                }
            }
        }
    }
    .header_info{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 600px;
        h1{
            margin: 0;
            font-weight: bold;
            font-size: 52px;
            line-height: 78px;
            color: #FFFFFF;
            text-align: center;
            @media (max-width: 1000px){
                font-size: 45px;
            }
            @media (max-width: 700px){
                font-size: 45px;
            }
            @media (max-width: 600px){
                font-size: 35px;
            }
            @media (max-width: 500px){
                font-size: 32px;
            }
            @media (max-width: 450px){
                font-size: 28px;
            }
            @media (max-width: 400px){
                font-size: 23px;
            }
            @media (max-width: 350px){
                font-size: 20px;
            }
        }
    }
}
section{
    .section_news{
            background: url('../../img/back.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            background-attachment: fixed;
        .news_nav{
            padding: 100px 0;
            display: flex;
            flex-direction: column;
            .today{
                background-image: url('../../img/news/rec.png');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
                width: 100%;
                height: 450px;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                @media (max-width: 700px){
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
                .title{
                    h3{
                        font-weight: bold;
                        font-size: 42px;
                        line-height: 78px;
                        color: #FFFFFF;
                        margin: 0 0 52px 12px;
                        white-space: nowrap;
                        @media (max-width: 900px){
                            font-size: 32px;
                        }
                        @media (max-width: 450px){
                            font-size: 25px;
                            margin: 0 0 22px 0;
                        }
                        @media (max-width: 350px){
                            font-size: 22px;
                        }
                    }
                }
                .subtitle{
                    width: 320px;
                    p{
                        font-size: 16px;
                        line-height: 170%;
                        color: #FFFFFF;
                        padding: 0 10px 32px ;
                        @media (max-width: 700px){
                            width: 100%;
                        }
                        @media (max-width: 450px){
                            font-size: 12px;
                            padding: 0 20px;
                        }
                    }
                }
            }
            .info{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                .block_info{
                    display: flex;
                    flex-direction: column;
                    width: 390px;
                    background: #FFFFFF;
                    margin-top: 20px;
                    @media (max-width: 400px){
                        width: 290px
                    }
                    h3{
                        font-weight: bold;
                        font-size: 24px;
                        line-height: 170%;
                        color: #056088;
                        padding: 30px 0 0 30px;
                        margin: 0;
                        white-space: nowrap;
                        @media (max-width: 500px){
                            font-size: 20px;
                        }
                        @media (max-width: 330px){
                            font-size: 18px;
                        }
                    }
                    p{
                        width: 300px;
                        font-size: 16px;
                        line-height: 170%;
                        padding: 16px 0 32px 0;
                        color: #434343;
                        padding-left: 30px;
                        @media (max-width: 330px){
                            font-size: 12px;
                        }
                    }
                    button{
                        width: 158px;
                        height: 72px;
                        background: linear-gradient(104.58deg, #056088 10.57%, #09A7CA 96.62%);
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 170%;
                        color: #FFFFFF;
                        margin:  0 20px 30px;
                    }
                }
                .inf{
                    margin: 20px 20px 0 20px;
                }
            }
        }
    }
}
footer{
    background-image: url('../../img/footer.png');
    .footer_nav{
        padding: 60px 0 70px 0;
        display: flex;
        justify-content: space-between;
        @media (max-width: 900px){
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
        }
        .footer_logo{
            display: flex;
            flex-direction: column;
            @media (max-width: 900px){
                display: flex;
                align-items: center;
                justify-content: center;
                padding-top: 50px;
            }
            img{
                width: 114px;
                height: 78px;
            }
            p{
                font-size: 16px;
                line-height: 150%;
                color: #FFFFFF; 
                padding: 16px 0 32px 0;               
            }
            button{
                width: 158px;
                height: 72px;
                background: linear-gradient(104.58deg, #056088 10.57%, #09A7CA 96.62%);
                font-weight: 500;
                font-size: 16px;
                line-height: 170%;
                color: #FFFFFF;
            }
        }
        .footer_menu{
            display: flex;
            justify-content: space-between;
            padding-top: 20px;
            @media (max-width: 515px){
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
            }
            .bl{
                display: flex;
                flex-direction: column;
                margin-right: 100px;
                @media (max-width: 705px){
                    margin-right: 70px;
                }
                @media (max-width: 605px){
                    margin-right: 40px;
                }
                @media (max-width: 515px){
                    width: 200px;
                    margin: 0;
                    padding-bottom: 30px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
                @media (max-width: 455px){
                    width: 170px;
                }
                @media (max-width: 405px){
                    width: 150px;
                }
                @media (max-width: 335px){
                    width: 130px;
                }
                h3{
                    margin: 0;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 170%;
                    color: #FFFFFF;
                    margin-bottom: 32px;
                }
                ul{
                    display: flex;
                    flex-direction: column;
                    li{
                        padding-bottom: 16px;
                        a{
                            font-family: Roboto;
                            font-size: 16px;
                            line-height: 150%;
                            color: #FFFFFF;                            
                        }
                    }
                }
            }
            .bl:nth-child(4){
                margin: 0;
            }
        }
    }
    .footer_copyright{
        background: #E5E5E5;
        padding: 20px 0;
        .copy{
            display: flex;
            align-items: center;
            justify-content: center;
            p{
                font-size: 16px;
                line-height: 170%;
                color: #000000;
            }
        }
    }
}